<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/post-show.css">
    <link rel="stylesheet" href="/stylesheets/starability.css">
    <script src="https://kit.fontawesome.com/7cc006d53b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <% include ../partials/navbar %> 
    <% include ../partials/flash-messages %> 
    <%-  body -%> 
    <script src="/javascripts/post-show.js"></script>
</body>
</html>